@media only screen and (min-device-width: 200px) and (max-device-width: 620px) and (-webkit-min-device-pixel-ratio: 1)  {
    button {
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 15px 0;
        text-transform: capitalize;
        width:100%;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
        
    }
}


@media only screen and (min-device-width: 621px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
    button {
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 17px 0;
        text-transform: capitalize;
        width:100%;
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
        
    }   
}