.navbar-container {
    padding:10px 20px;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content:center;
}
 
.menu-btn {
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.menu-btn span {
    background:#3A89F8;
    border: 1.5px solid #3A89F8;
    width: 70%;
    margin-bottom: 5px;
}
.logo {
    display: none;
    padding-left: 10px;
}
.logo img {
    width: 30px;
    height:30px;
}
.logo span {
    margin-left: -4px;
    color:#535513;
    text-decoration: underline;
    font-weight: bold;
    align-self: flex-end;
}
.navbar-links {
    display:none;
}
.navbar-links ul {
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}
.avatar {
  display:none;
  align-items: center;
  justify-content:flex-end;
}
.avatar img {
    width: 25px;
    height:25px;
    border-radius: 50%;
    padding: 5px;
     background:#3A89F8;
}   

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-container {
        padding: 10px 100px;
        grid-template-columns:100%;
    }
    .menu-btn {
        display:none;
    }
    .navbar-links {
        display:inline-block;
    }
    
    
}
